<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="ConnectionString" connectionString="Server=localhost;Database=development;Uid=admin;Pwd=root;MinimumPoolSize=10;maximumPoolSize=1000;Allow User Variables =True;" providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
</configuration>